# Unity generierte Ordner (werden vom Editor erzeugt, nicht versionieren)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Unity Editor-Crash/Profiler
sysinfo.txt
*.stackdump

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.unityproj
*.user

# OS
.DS_Store
Thumbs.db

# Builds / Player
*.apk
*.aab
*.app
*.ipa

# Asset-Import-Caches
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*
